<div class="container-details">
  <div class="card-details">
    <p>Nome: <%= @evaluated.name %></p>
    <p>CPF: <%= @evaluated.cpf %></p>
    <p>E-mail: <%= @evaluated.email %></p>
    <p>Data de nascimento: <%= @evaluated.birthdate.strftime("%d/%m/%Y") %></p>
  </div>

  <div class="card-details-instruments">
    <% if @evaluated.instruments_applied.present?%>
    <h2>Instrumentos aplicados:</h2>
    
      <% @evaluated.instruments_applied.each do |instrument_applied| %>
        <div class="details-instrument">
          <h3><%= link_to instrument_applied.instrument.name, instruments_applied_path(instrument_applied) %></h3>
          <p>Descrição: <%= instrument_applied.instrument.description %></p>
          <% if instrument_applied.status == 'not_started' %>
            <p>Status: Não iniciado</p>
          <% elsif instrument_applied.status == 'finished' %>
            <p>Status: Finalizado</p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h3>Nenhum instrumento aplicado.</h3>
    <% end %>
  </div>
</div>
