<% if psychologist_signed_in? %>

  <div class="container-details">
    
    <h1><%= @instrument_applied.instrument.name %></h1>
    <p><%= @instrument_applied.instrument.description %></p>
    
    <div class="info-instrument">
      <% if @instrument_applied.status == 'not_started' %>
        <p>Status: Não iniciado</p>
        <strong>Resultado: </strong>
        <p>Ainda não possui resultado</p>
      <% elsif @instrument_applied.status == 'finished' %>
        <p>Status: Finalizado</p>
        <p><strong>Resultado: </strong><%= @instrument_applied.result %></p>
      <% end %>
      
    </div>
  </div>

<% else %>
  <div class="centralize">
    <div class="container-form">
      <div class="container-logo">
        <%= image_tag 'logo-white.png', id: 'logo-white' %>
      </div>

      <h2> Confirme seus dados para iniciar o instrumento </h2>
      <%= form_with(model: @evaluated, 
                    url: verifications_instruments_applied_path(@instrument_applied)) do |form| %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'input-field' %>
        </div>

        <div class="field">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, class: 'input-field' %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'input-field' %>
        </div>

        <div class="field">
          <%= form.label :birthdate %>
          <%= form.date_field :birthdate, class: 'input-field' %>
        </div>

        <div class="actions">
          <%= form.submit 'Próximo', class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>