<% if psychologist_signed_in? %>

  <div class="container-details">
    
    <h1><%= @instrument_applied.instrument.name %></h1>
    <p><%= @instrument_applied.instrument.description %></p>
    
    <div class="info-instrument">
      <% if @instrument_applied.status == 'not_started' %>
        <p>Status: Não iniciado</p>
        <strong>Resultado: </strong>
        <p>Ainda não possui resultado</p>
      <% elsif @instrument_applied.status == 'finished' %>
        <p>Status: Finalizado</p>
        <p><strong>Resultado: </strong><%= @instrument_applied.result %></p>
      <% end %>
      
    </div>
  </div>

<% else %>
  <%= form_with(model: @evaluated, 
                url: verifications_instruments_applied_path(@instrument_applied)) do |form| %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :cpf %>
    <%= form.text_field :cpf %>

    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>

    <%= form.submit 'Próximo' %>
  <% end %>

<% end %>