<div>
  <% if psychologist_signed_in? %>
    <%= link_to 'Cadastrar avaliado', new_evaluated_path %>
    <%= link_to 'Ver instrumentos', instruments_path %>

    <p>Lista de pacientes</p>
    
    <% @evaluateds.each do |evaluated| %>
      <p><%= link_to evaluated.name, evaluated_path(evaluated) %></p>
    <% end %>

  <% else %>
    <%= image_tag 'header-vetor.png', class: 'responsive-img' %>

    <%= image_tag 'icons8-mind-100.png' %>
    <p>Explore a complexidade da mente humana com uma ampla gama de testes psicológicos online.</p>

    <%= image_tag 'icons8-results-96.png' %>
    <p>Obtenha resultados confiáveis e precisos, desenvolvidos por especialistas.</p>

    <%= image_tag 'icons8-calendar-100.png' %>
    <p>Processo de avaliação com testes acessíveis a qualquer hora, em qualquer lugar.</p>

    <%= image_tag 'icons8-book-100.png' %>
    <p>Resultados precisos e imparciais, comprovadas por metodologias  e algoritmos avançados.</p>
  <% end %>
</div>