<div>
  <% if psychologist_signed_in? %>
    <div class="menu-home">
      <%= link_to 'Cadastrar avaliado', new_evaluated_path, class: 'button' %>
      <%= link_to 'Ver instrumentos', instruments_path, class: 'button' %>
    </div>

    <div class="container-evaluateds">
      <h2>Lista de avaliados cadastrados</h2>
      
      <% @evaluateds.each do |evaluated| %>
        <p><%= link_to evaluated.name, evaluated_path(evaluated) %> | <%= evaluated.email %></p>
      <% end %>

    </div>

  <% else %>
    <%= link_to new_psychologist_session_path do %>
      <%= image_tag 'header-vetor.png', class: 'responsive-img' %>
    <% end %>

    <div id="section-header">
      <div class="card-header">
        <%= image_tag 'icons8-mind-100.png' %>
        <p class="text-card">Explore a complexidade da mente humana com uma ampla gama de testes psicológicos online.</p>
      </div>

      <div class="card-header">
        <%= image_tag 'icons8-results-96.png' %>
        <p class="text-card">Obtenha resultados confiáveis e precisos, desenvolvidos por especialistas.</p>
      </div>

      <div class="card-header">
        <%= image_tag 'icons8-calendar-100.png' %>
        <p class="text-card">Processo de avaliação com testes acessíveis a qualquer hora, em qualquer lugar.</p>
      </div>

    </div>
  <% end %>
</div>