<!DOCTYPE html>
<html>
  <head>
    <title>VetorEditora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id="navbar">
      <%= image_tag 'logo-vetor-presente.png' %>
      <% if psychologist_signed_in? %>
        <%= button_to t(:log_out), destroy_psychologist_session_path, method: :delete %>
        <%= current_psychologist.email %>
      <% else %>
        <%= link_to 'Fazer login', new_psychologist_session_path %>
      <%end%>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
